*{
    font-family:Arial, Helvetica, sans-serif
}

body{
    margin: auto;
    display: flex;
    // align-items: center;
    justify-content: center;

    div {

    }

}

form {
    display: flex;
    justify-content: space-between;
}